Resources/*
Resources
*.xlsx
*.xls
*.rar
.ipynb_checkpoints
.ipynb_checkpoints/*
.vscode
.vscode/
_pycache_
_pycache_/*
venv
venv/*
basura
*.pyc


dist/*dist*.tar*.gz*

joinTeams.egg-info/*joinTeams.egg-info*.txt*.PKG-INFO/*PKG-INFO*